extends layout

block layout-content
  div.View.UserView
    h1.Banner Howdy, #{userProfile.firstName}!
    div.Message
      div.Title
        h3 Profile
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/checkin")
        div.NavButton Check-in
      a(href="/logout")
        div.NavButton Log out